$site-green: #28a745;
$site-white: #ffffff;
$h-fonts: 'Modak',
cursive;
$other-fonts: 'Varela Round',
sans-serif;

body {
    * {
        font-family: $other-fonts;
    }

    .headings {
        margin-top: 5% !important;
        margin-bottom: 5% !important;
        text-align: center;
        text-decoration: underline;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $h-fonts;
    }

    .navbar {

        .navbar-nav {
            a {
                font-size: 1.2rem;
                color: #000000 !important;

                &:focus {
                    text-decoration: underline;
                }

                &:hover{
                    color: $site-green !important;
                }
            }
        }

    }

    .chat {
        .create-post {
            padding-top: 5%;
            padding-bottom: 5%;
        }

        h4 {
            margin-top: 5%;
            margin-bottom: 5%;
        }

        .all-chats {
            margin-top: 5%;

            .card {
                box-shadow: 6px 6px 12px 0px rgba(40, 167, 69, 0.42);
            }
        }
    }

    main {
        .team{
            text-align: center;
            img{
                width: 200px;
                height: 200px;
            }
            p{
                margin-bottom: 0;
            }
        }
    }


    h1 {
        text-align: center;
        color: $site-green;
    }

    footer {
        padding-bottom: 0;
        margin-bottom: 0;

        .breadcrumb {
            background-color: $site-white !important;
        }
    }
}