$site-green: #28a745;
$site-bg: #f3f9f4;
$site-bg-green: #cdead3;
$site-dark-green: #2a833e;
$site-darkest-green: #175425;
$site-white: #ffffff;
$h-fonts: 'Modak',
cursive;
$other-fonts: 'Varela Round',
sans-serif;

body {
    background-color: $site-bg;

    * {
        font-family: $other-fonts;
    }

    // All headings have this style
    .headings {
        margin-top: 100px !important;
        margin-bottom: 5% !important;
        text-align: center;
        text-decoration: underline;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $h-fonts;
    }

    // navComponent styles
    .navbar {

        .navbar-nav {
            a {
                font-size: 1.2rem;
                color: #000000 !important;

                &:focus {
                    text-decoration: underline;
                }

                &:hover {
                    color: $site-green !important;
                }
            }
        }

    }

    // 404 not found
    #not-found{
        margin-top: 20px;
        h1{
            font-size: 10rem;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }

    // feed styles
    .chat {
        .create-post {
            padding-top: 5%;
        }

        .all-chats {
            margin-top: 5%;

            .card {
                box-shadow: 6px 6px 12px 0px rgba(40, 167, 69, 0.42);
            }
        }
    }

    // main styles
    main {
        #services {
            img {
                width: 100%;
                height: 150px;
            }
        }

        #about-us{
            iframe{
                padding-bottom: 5%;
            }

            a{
                margin-bottom: 5%;
            }
        }

        #contact-us{
            iframe{
                padding-bottom: 5%;
            }

            form{
                margin-bottom: 5%;
            }
        }

        #team {
            text-align: center;
            background-color: $site-bg-green;
            padding-top: 5%;
            padding-bottom: 5%;

            img {
                width: 200px;
                height: 200px;
            }

            p {
                margin-bottom: 0;
            }
        }

        #testimonies {
            background-color: $site-bg-green;
            padding-top: 5%;

            img {
                border-radius: 50%;
                height: 200px;
                width: 100px;
                padding-right: 25%;
                padding-left: 25%;
                margin-bottom: 10%;
            }

            blockquote {
                margin-bottom: 10%;
            }
        }
    }

    // footer styles
    footer {
        background-color: $site-dark-green;
        padding-top: 5%;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: 10%;
        text-align: center;

        h4 {
            color: white;
            text-decoration: underline;
        }

        .list-group {
            padding-left: 20%;
            padding-right: 20%;

            .list-group-item {
                background-color: $site-dark-green;
                // padding-top: 0;
                padding-bottom: 0;

                a {
                    color: white !important;
                }
            }
        }

        #logo {
            margin-bottom: 5%;

            h1 {
                color: white;
            }
        }

        #connect {
            margin-bottom: 5%;
        }

        #menu {
            margin-bottom: 5%;
        }

        #copywrite {
            background-color: $site-darkest-green;
            padding-top: 3%;
            padding-bottom: 3%;

            a {
                color: white !important;
            }
        }
    }
}