$site-green: #28a745;
$site-white: #ffffff;

body {
    .chat {
        .create-post {
            padding-top: 5%;
            padding-bottom: 5%;
        }

        h2{
            margin-bottom: 3%;
        }

        .all-chats {
            margin-top: 5%;

            .card {
                box-shadow: 6px 6px 12px 0px rgba(40, 167, 69, 0.42);
            }
        }
    }


    h1 {
        text-align: center;
        color: $site-green;
    }

    footer {
        padding-bottom: 0;
        margin-bottom: 0;

        .breadcrumb {
            background-color: $site-white !important;
        }
    }
}